# Arquivos de ambiente
.env
.env.*

# Ambiente virtual
venv/
.venv/

# Compilados do Python
__pycache__/
*.py[cod]

# Logs
*.log

# Arquivos de banco de dados SQLite (se aplicável)
*.sqlite3

# Arquivos de configuração do IDE (opcional)
.vscode/
.idea/

# Arquivos de cache do sistema operacional (opcional)
.DS_Store
Thumbs.db
